<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klinikita.androidapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">

        <activity android:name=".view.splash.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.auth.login.LoginActivity" />
        <activity android:name=".view.auth.register.RegisterActivity" />
        <activity android:name=".view.auth.otp.OTPActivity" />
        <activity
            android:name=".view.home.HomeActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".view.beliobat.BeliObatActivity" />
        <activity android:name=".view.beliobat.DetailObatActivity" />
        <activity android:name=".view.konsultasi.KonsultasiActivity" />
        <activity android:name=".view.periksa.PeriksaActivity" />
        <activity android:name=".view.rekammedis.RekamMedisActivity" />
        <activity android:name=".view.dompetkita.DompetKitaActivity" />
        <activity android:name=".view.feed.StatusBaru" />
        <activity android:name=".view.konsultasi.chat.ChatKlinikita" />
        <activity android:name=".view.chat.ChatKlinikita" />
        <activity android:name=".view.chat.DokterKlinikita" />
        <activity android:name=".view.chat.CobaActivity"></activity>
        <activity android:name=".view.chat.ObrolanKlinikita"></activity>
    </application>

</manifest>